* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

.nav_bg_color {
  background-color: #d9d9d9;
}

.headsticky {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
}

.request-demo {
  color: white;
  background-color: rgb(46, 83, 231);
  height: 50px;
  width: 196px;
  left: 1104px;
  top: 21px;
  border-radius: 30px;
}

.request-demo-atag {
  color: blue;
}

.main_wrapper {
  height: 100vh;
  margin: auto;
}
.main_wrapper .main_heading_wrapper {
  padding: 5em 2em 0em 2em;
  margin-top: 60px;
}
.main_wrapper .main_heading_wrapper .txt_medical {
  font-family: Poppins;
  font-size: 60px;
}
.main_wrapper .main_heading_wrapper .txt_retain_patient {
  font-family: Poppins;
  font-size: 60px;
  font-weight: 700;
}
.main_wrapper .main_heading_wrapper .txt_patientgrid {
  font-weight: 500;
  size: 22px;
  line-height: 32px;
}
.main_wrapper .main_heading_wrapper .txt_patientgrid {
  color: #282828;
}
.main_wrapper .gradient_container {
  margin-bottom: 50px;
}
.main_wrapper .gradient_container .main_image_and_gradient {
  background: linear-gradient(90.51deg, #87cefa 3.78%, #2a0896 96.65%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  margin-top: 40px;
  width: 100%;
  transform: skew(0deg, 10deg);
}
.main_wrapper .gradient_container .imagediv {
  width: 100%;
  transform: skew(0deg, -10deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.reviews_wrapper {
  max-width: 1280px;
  margin: auto;
  margin-top: 100px;
}

.reviews_cols {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.col2 {
  display: flex;
  position: relative;
  height: 288px;
  width: 50%;
  max-width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.insideCol {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  display: inline-block;
  background: rgba(255, 255, 255, 0.531);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.197);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.but-shadow {
  top: -8%;
  left: -8%;
  border-radius: 30px;
  display: inline-block;
  background-color: rgba(169, 154, 206, 0.2941176471);
  height: 100%;
  width: 100%;
  position: absolute;
}

.col4_right_shadow {
  top: -8%;
  left: 8%;
  border-radius: 30px;
  display: inline-block;
  background-color: rgba(169, 154, 206, 0.2941176471);
  height: 100%;
  width: 100%;
  position: absolute;
}

.doc_and_star {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.stars_flex {
  display: flex;
  background-color: #efefef;
  border-radius: 10px;
  gap: 15px;
  padding: 10px;
  box-shadow: 0px 1px 15.23px 0.00223px rgba(0, 0, 0, 0.185);
}

.stars_flex img {
  width: 30px;
}

.doc_details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.doc_details img {
  width: 70px;
}

.dr_name {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px;
}

.doc_position {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5568627451);
}

.grayed_rectangle {
  height: 10px;
  background-color: rgba(184, 184, 184, 0.7098039216);
  border-radius: 50px;
  width: 80%;
  margin-top: 50px;
}

.text_col {
  display: flex;
  height: 288px;
  width: 35%;
  min-width: 250px;
  text-align: left;
  flex-direction: column;
  justify-content: center;
}

.text_col_head {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  line-height: 50px;
}

.text_col_para {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  width: 70%;
}

.line_and_circle_cover {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: rgba(237, 237, 237, 0.7725490196);
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 15.23px 0.00223px rgba(0, 0, 0, 0.185);
}

.line_main {
  background-color: rgba(57, 12, 163, 0.3137254902);
  width: 170px;
  height: 5px;
  border-radius: 50px;
}

.line_sub {
  width: 50%;
  height: 5px;
  background-color: rgba(57, 12, 163, 0.8156862745);
  border-radius: 50px;
}

.line_big {
  background-color: #cfcfcf;
  width: 90%;
  height: 10px;
  border-radius: 30px;
  margin-top: 20px;
}

.graph_cover {
  width: 100%;
  padding-left: 40px;
}

.img_graph {
  width: 230px;
}

.img_gear {
  position: relative;
  left: 150px;
  z-index: 1;
}

.line_dark_gray {
  width: 80%;
  height: 10px;
  background-color: #c7c7c7;
  margin-top: 30px;
  border-radius: 20px;
}

.img_chat {
  width: 300px;
  margin-right: 50px;
}

.img_chat_1 {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-top: 20px;
}

.img_men {
  position: relative;
  top: 20px;
  left: -180px;
  z-index: 1;
  width: 50px;
}

.img_wmn {
  position: relative;
  top: 70px;
  left: 150px;
  z-index: 1;
  width: 50px;
}

.seamless_colabration_wrapper {
  max-width: 1200px;
  margin: auto;
  background-color: #dde9ff;
  margin-top: 20px;
  display: flex;
  padding: 70px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.text_seamless_container {
  width: 50%;
}

.text_seamless {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}

.text_withShared {
  margin-top: 40px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 0.72);
  width: 55%;
}

.dash2_container {
  width: 50%;
}

.free_trial_wrapper {
  max-width: 1200px;
  margin: auto;
  margin-top: 70px;
  background-color: #d9deef;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.top_corner {
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 30px 30px;
}

.corner_img {
  position: absolute;
  right: 0;
  bottom: 0;
  border-bottom-right-radius: 30px 30px;
}

.all_cover_img_and_text_btm {
  display: flex;
  align-items: center;
  text-align: center;
}

.text_work_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 60%;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 10px;
}

.text_lorem {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  width: 80%;
  color: rgba(0, 0, 0, 0.62);
}

.free__trail_btn {
  font-size: 20px;
  background-color: #4482c2;
  height: 50px;
  width: 173px;
  left: 636px;
  top: 294px;
  border-radius: 30px;
  color: white;
  margin-bottom: 10px;
}

.footer_wrapper {
  margin-top: 20px;
  background-color: #2a0896;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer_all_wrapper {
  width: 1200px;
}

.footer_container_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.footer_col {
  width: 290px;
  height: 250px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product_more {
  text-align: center;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  padding: 10px;
}

.copyright {
  text-align: center;
  padding: 10px;
}

.sub_input {
  height: 50px;
  width: 301px;
  left: 986px;
  top: 3901.8315429688px;
  border-radius: 30px;
}

.sub_round_btn {
  background-color: #2a52be;
  border-radius: 70px;
  width: 80px;
  height: 50px;
  position: relative;
  right: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .logomhidden_in_tabMobile_view {
    display: none;
  }
  .main_wrapper {
    max-width: 1280px;
    height: 100vh;
    margin: auto;
  }
  .main_heading_wrapper {
    padding: 5em 1em 0em 1em;
    line-height: 70px;
    margin-top: 20px;
  }
  .main_heading_wrapper .txt_medical {
    font-size: 20px;
  }
  .main_heading_wrapper .txt_retain_patient {
    font-size: 20px;
    font-weight: 700;
  }
  .main_heading_wrapper .txt_patientgrid {
    margin-top: 10px;
    font-weight: 500;
    size: 18px;
    line-height: 20px;
  }
  .main_heading_wrapper .txt_patientgrid {
    color: #505050;
  }
  .footer_container_flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer_col {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 200px;
  }
  .ft_lorem_txt {
    width: 70%;
  }
  .emil_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .email_and_sub_cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sub_round_btn {
    display: none;
  }
  .reviews_wrapper {
    max-width: 1280px;
    margin: auto;
    margin-top: 100px;
  }
  .reviews_cols {
    padding: 10px;
    gap: 20px;
  }
  .col2 {
    height: 288px;
    width: 100%;
    min-width: 250px;
  }
  .text_col_head {
    text-align: center;
  }
  .text_col_para {
    text-align: center;
  }
  .text_col {
    height: 288px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .col2 {
    width: 200px;
    height: 200px;
  }
  .reviews_cols :nth-child(1) {
    order: 1;
  }
  .reviews_cols :nth-child(2) {
    order: 2;
  }
  .reviews_cols :nth-child(3) {
    order: 1;
  }
  .reviews_cols :nth-child(4) {
    order: 2;
  }
  .reviews_cols :nth-child(5) {
    order: 1;
  }
  .reviews_cols :nth-child(5) {
    order: 1;
  }
  .seamless_colabration_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    align-items: center;
  }
  .text_seamless_container {
    width: 100%;
    text-align: center;
  }
  .text_seamless {
    text-align: center;
  }
  .text_withShared {
    margin-top: 40px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 0.72);
    width: 100%;
    text-align: center;
  }
  .dash2_container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .free_trial_wrapper {
    background-color: #d9deef;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 20px;
  }
  .top_corner {
    display: none;
  }
  .corner_img {
    display: none;
  }
  .all_cover_img_and_text_btm {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img_left_wmn {
    display: none;
  }
  .text_work_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .text_lorem {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    width: 100%;
    color: rgba(0, 0, 0, 0.62);
  }
  .free__trail_btn {
    font-size: 20px;
    background-color: #4482c2;
    height: 50px;
    width: 173px;
    left: 636px;
    top: 294px;
    border-radius: 30px;
    color: white;
    margin-bottom: 10px;
  }
}
.doc_and_star {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stars_flex img {
  width: 20px;
}

.doc_details {
  gap: 10px;
}

.doc_details img {
  width: 50px;
}

.dr_name {
  font-size: 15px;
}

.img_men {
  top: -40px;
  left: -140px;
}

.img_wmn {
  position: relative;
  top: 90px;
  left: 120px;
  z-index: 1;
  width: 50px;
}

.all_comp_cover {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.line_and_circle_cover {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: rgba(237, 237, 237, 0.7725490196);
  padding: 10px;
  gap: 10px;
}

.line_main {
  background-color: rgba(57, 12, 163, 0.3137254902);
  width: 100px;
  height: 5px;
  border-radius: 50px;
}

.line_sub {
  width: 50%;
  height: 5px;
  background-color: rgba(57, 12, 163, 0.8156862745);
  border-radius: 50px;
}

.line_big {
  background-color: #cfcfcf;
  width: 90%;
  height: 7px;
  border-radius: 30px;
  margin-top: 20px;
}

.graph_cover {
  width: 90%;
  padding-left: px;
}

.img_graph {
  width: 230px;
}

.img_gear {
  left: 140px;
  width: 70px;
}

.line_dark_gray {
  width: 80%;
  height: 10px;
  background-color: #c7c7c7;
  margin-top: 30px;
  border-radius: 20px;
}/*# sourceMappingURL=style.css.map */